body {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: #439aa7;
    
    /* background-image: url("./ladder.png");
    background-position: right; */
    /* background-image: url("./background-image6.jpg");
    background-size: contain;
    background-repeat: no-repeat; */
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-primary {
    background: #a05639;
    border-radius: 6px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

.btn-primary:hover {
    cursor: pointer;
    background: linear-gradient(#4E287F, #659DBD);
}

a.router-link-exact-active {
    color: #a05639;
}

.svg-inlie--fa {
    font-size: 100px;
}

select {
    width: 150px;
    height: 25px;
    border-radius: 6px;
    background: lightgray;
}

input {

    height: 25px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 2px 5px 8px #acabab;
}

.error {
    color: #a05639;
    font-weight: bold;
}

.hero {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
  }
  
  .hero-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-right {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hero-left h1 p {
    text-align: start;
  }
  
  .hero p {
    line-height: 2rem;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .modal {
    position: fixed;
    z-index: 9998;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    margin: auto;
  }
  
  .modal-container {
    position: relative;
    width: 400px;
    height: 650px;
    margin: 0px auto;
    margin-top: 200px;
    padding: 20px 30px;
    background-color: #439aa7;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    border-radius: 8px;
  }
  
  .modal-container span {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }

  .modal-container span:hover {
    cursor: pointer;
  }

  .user-stories {
    display: flex;
  
    flex-direction: column;
    gap: 50px;
    margin: auto;
  }

  .user-blog-card {
    width: 1200px;
    margin: auto;
    padding: 15px;
  
    border-radius: 10px;
    /* height: 85px; */
    box-shadow: 5px 10px 12px #acabab;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* background-image: linear-gradient(#0093AB, #D9D9D9); */
    /* background: #5b7c99; */
    background: rgba(0, 0, 0, 0.08);
    border: none;
  }

  .blog {
  
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 10px 12px #acabab;
    padding: 15px;
  
    border-radius: 6px;
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 480px) {
   
  
    .hero {
      max-width: 350px;
      min-width: 300px;
      
    }
  
    .hero-left {
      width: 160px;
      margin-right: 20px;
    }

    .hero-right {
      width: 140px;
    }

    .individual-blog p  {
     
      font-size: 12px;
    }

    h2 {
      font-size: 16px;
    }

    .blog-content textarea {
      width: 400px;
    }
  }

  @media only screen and (min-width: 480px) {

  
    .hero {
      max-width: 350px;
      min-width: 300px;
      
    }
  
    .hero-left {
      width: 200px;
      margin-right: 20px;
    }

    .individual-blog p  {
     
      font-size: 12px;
    }

    .footer p {
      font-size: 12px;
    }
    
    .footer-text {
      flex-direction: column;
    }
  
    .hero-right {
      width: 200px;
    }

    .blog-content textarea {
      width: 400px;
    }
  
  
  }

  @media only screen and (max-width: 576px) {


   
    .hero p, .bottom-section p  {
      width: 160px;
      font-size: 12px;
    }

    .footer p {
      font-size: 12px;
    }

    .individual-blog p  {
     
      font-size: 14px;
    }

    label {
      font-size: 12px;
    }

    a {
      font-size: 12px;
    }
  
     h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 14px;
    }

    h3 {
      font-size: 14px;
    }

    .hero {
      max-width: 500px;
      min-width: 350px;
      
    }
  

    .hero-right {
      margin: auto;
    }

    .hero-right {
      width: 220px;
    }

    .hero-left {
      width: 220px;
    }

    .btn-primary {
      font-size: 12px;
    }

    .website-guide-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .user-blog-card {
      width: 280px;
      flex-direction: column;
    }
  }
  
  @media only screen and (min-width: 576px) {
  
    .hero p, .bottom-section p  {
      width: 200px;
      font-size: 14px;
    }

    .footer p {
      font-size: 14px;
    }

    .individual-blog p  {
     
      font-size: 16px;
    }

    label {
      font-size: 14px;
    }

    a {
      font-size: 14px;
    }
  
     h1 {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 16px;
    }

    .user-blog-card {
      width: 550px;
    }

    .hero {
      max-width: 800px;
      min-width: 600px;
      flex-direction: row;
      justify-content: center;
      
    }

    .hero-left {
      width: 250px;
    }

    .hero-right {
      width: 250px;
    }

    .blog-content textarea {
      width: 600px;
    }

    .footer-text {
      flex-direction: row;
    }
  
  }
  
  @media only screen and (min-width: 768px) {
    
    .hero {
      max-width: 1000px;
      min-width: 800px;
      justify-content: center;
      flex-direction: row;
    }

    .hero-left {
      width: 300px;
    }

    .hero-right {
      width: 300px;
    }
  
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 19px;
    }

    a {
      font-size: 16px;
    }
  
    .hero p, .bottom-section p {
      width: 250px;
      font-size: 16px;
    }

    .footer p {
      font-size: 14px;
    }

    .individual-blog p  {
     
      font-size: 16px;
    }

    label {
      font-size: 16px;
    }

    .user-blog-card {
      width: 700px;
    }

    .footer-text {
      flex-direction: row;
    }
  }
  
  @media only screen and (min-width: 992px) {
   
    .hero {
      max-width: 1200px;
      min-width: 1000px;
      justify-content: center;
      flex-direction: row;
    }

    .hero-left {
      width: 400px;
    }

    .hero-right {
      width: 400px;
    }
  
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 22px;
    }


    h3 {
      font-size: 23px;
    }

    a {
      font-size: 16px;
    }
  
    .hero p, .bottom-section p {
      width: 300px;
      font-size: 16px;
    }

    .footer p {
      font-size: 16px;
    }

    .footer-text {
      flex-direction: row;
    }

    .individual-blog p  {
     
      font-size: 16px;
    }

    label {
      font-size: 16px;
    }

    .user-blog-card {
      width: 900px;
    }

    .blog-content textarea {
      width: 800px;
    }
  }
  
  @media only screen and (min-width: 1200px) {

    .hero {
      justify-content: space-between;
    }

    .hero-left {
      width: 500px;
    }

    .hero-right {
      width: 500px;
    }
  
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 25px;
    }

    a {
      font-size: 16px;
    }

     .hero p, .bottom-section p {
      width: 350px;
      font-size: 16px;
    }

    .footer p {
      font-size: 16px;
    }

    .footer-text {
      flex-direction: row;
    }

    .individual-blog p  {
     
      font-size: 16px;
    }

    label {
      font-size: 16px;
    }

    .user-blog-card {
      width: 1100px;
    }

    .blog-content textarea {
      width: 882px;
    }
  }